body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Lato, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  max-width: 90px;
  border-width: 3px;
  border-color: #007f00;
}

hr.light {
  border-color: #fff;
}

a {
  color: #007f00;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #007f00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 5em;
  font-weight: bold;
  color: white;
  position: relative;
  bottom: 7em;
  text-transform: uppercase;
  text-align: center;
}

.bg-primary {
  background-color: #FF9900 !important;
}

.bg-dark {
  background-color: #ffffff !important;
}

text-faded {
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  bottom: 7em;
}

section {
  padding: 8rem 0;
}

.section-heading {
  font-family:  Lato, 'Titillium Web','Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.5em;
  color: white;
  position: relative;
  bottom: 15em;
  text-align: center;
  display: block;
  width: 20%;
  margin: auto;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #131B2B;
  font-family: Lato, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  color: #FF9900;
  font-family: Lato, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #FF9900;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #FF9900;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #FF9900 !important;
  background-color: #131B2B;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: #131B2B;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: #131B2B;

  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
    float: right;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #FF9900
;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #FF9900
;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #FF9900
;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url(./img/header.jpg );
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(255, 153, 0, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: Lato, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #FF9900 !important;
}

.btn {
  font-weight: 700;
  border: none;
  border-radius: 300px;
  font-family: Lato, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: white;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #FF9900;
  border-color: #FF9900;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.team-img {
  height: 200px;
  border-radius: 50%;
}

.devices-img {
  background-color: blue;
  width: 100%;

}

.container {
  position: relative;
  text-align: center;
  max-width: 98%;
}
.container2 {
  position: relative;
  text-align: center;
  max-width: 99%;
}

.about-text {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box {
  border-style: solid;
  border-color: #052D4B;
  border-width: 1px;
  border-radius: 10px;
  background-color: #052D4B;
  padding:10px;
}
.box2{
  border-style: solid;
  border-color: #846339;
  border-width: 1px;
  border-radius: 10px;
  background-color: #e7b268;
  color: white;!important;
  padding: 5px;
}
.pp{
  height: 800px;
  width: 100%;
}
.juju{
  color: black;
  font-weight: 500;
  font-family: Lato, Merriweather, 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  width: auto;
  text-align: center;
  margin-bottom: 50px;
}
.juju2{
  color: black;
  font-family: Lato, Merriweather, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  font-size: 21px;
  background-color: #052D4B;
}
.juju3{
  color: black;
  font-family: Lato, Merriweather, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  font-size: 25px;
}
.juju4{
  color: black;
  font-family: Lato, Merriweather, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  font-size: 21px;
}
.juju5{
  color: black;
  font-family: Lato, Merriweather, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  font-size: 19px;
  margin-left: 5%;
  margin-right: 5%;
}
.juju6{
  color: black;
  font-family: Lato, Merriweather, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  font-size: 20px;
}
.juju7{
  color: black;
  font-family: Lato, Merriweather, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  font-size: 18px;
}
.headings{
  font-weight: bold;
  font-family: Lato, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-size: 2.5em;
  text-align: center;
  color: black;
}
.headed{
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 20px;
  padding-bottom: 20px;

}
.fff{
position: relative;
  top: 50px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  margin: 0px;
}
.imagenes{
  height: 270px;
  display: block;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.centered {
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45%;
  font-family: Lato, Merriweather, 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  color: white;!important;
}
.centeredbot{
  justify-content: center;
  align-items: center;
  position: relative;
  top: 90%;
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Style the front side (fallback if image is missing) */
.flip-box-front{
  background-size: cover;
  height: 270px;
  color: black;
}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
  height: 270px;
}
.footer{
  width: 100%;
  height: fit-content;
  background-color: #052D4B;
}
.jujuy {
  color: rgba(255, 255, 255, 0.86);
  font-size: 15px;
  font-weight: 600;
  font-family: Lato, Merriweather, 'Helvetica Neue', Arial, sans-serif;
}
.centeredy {
  position: relative;
  top: 100%;
}
.orangetext{
  color: orange;
  text-align: left;!important;
}
.emoji{
  width: auto;
  height: 100px;
}
.imich{
  align-content: center;
  width: 60%;
  position: relative;
  top: 65px;
}
.leblanc{
  color: white;!important;
}
.leblanco{
  font-size: 30px;!important;
}
.empresa{
width: 100%;
}
.cabeza{
position: relative;
height: 770px;
background-image: linear-gradient(#052D4B, #052D4B);
clip-path: polygon(
0 0,
100% 0,
100% 100%,
0 calc(100% - 7vw)
);
/* change the calc height to a percentage height to get alternate responsive behavior*/
}
.cabeza2{
  position: relative;
  height:fit-content;
  background-image: linear-gradient(#052D4B, #052D4B);
  clip-path: polygon(
          0 0,
          100% 0,
          100% 100%,
          0 calc(100% - 7vw)
  );
  /* change the calc height to a percentage height to get alternate responsive behavior*/
}
.frase{
  text-align: center;
  font-size: 1.75rem;
  font-family: Lato, Arial;
  margin-right: 22%;
  margin-left: 22%;
  position: relative;
  top: 40px;
}
.imgfoot{
 margin: 7% 10% 5% 10%;
  max-width: 66%;
}
.letraa{
  font-size: 22px;
  width: 66%;
  text-align: center;
  margin-left: 20%;
  font-family: Lato, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}

.footfooter{
  background-color: #032034;
  width:100%;
  height: 70px;
  position: relative;
  top: 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divinoleft{
  text-align: left;
  margin-left: 25%;
  margin-right: 10%;
  margin-bottom: 7%;
  width: 65%;
  background-color: #e0e0e0;
  height: fit-content;
  border-radius: 20px 20px;
  font-size: 20px;
}
.divinoright{
  text-align: left;
  margin-left: 10%;
  margin-right: 25%;
  margin-bottom: 7%;
  width: 65%;
  background-color: #e0e0e0;
  height: fit-content;
  border-radius: 20px 20px;
  font-size: 20px;
}
.boxing{
  display:block;
  box-sizing: border-box;
}
.columno{
  display:flex;
  flex-direction:column;
  width:50%;
}
#crack{
  height:fit-content;
  width: 100%;
  display:flex;
}
.bold{
  font-weight: 700;
  font-size: 25px;
}
.imageright{
  float: right;
  margin-right: 15%;
  margin-left: 10%;
  max-width: 30%;
 transform: scale(1.5);
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.imageleft{
  float: left;
  margin-left: 15%;
  margin-right: 10%;
  max-width: 30%;
  transform: scale(1.5);
}
.texto{
  margin-left: 7%;
  font-size: 20px;
  color: #e0e0e0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: normal;
  position: relative;
  top: 40px;
}
.marbot{
  height: 500px;
  vertical-align: middle;
  background-color: #e0e0e0;
  margin-left: 7%;
  margin-right: 7%;
}
.obrass{
  text-align: left;
  margin-left: 20%;
  margin-right: 8%;
  margin-bottom: 7%;
  max-width: 30%;
  background-color: #e0e0e0;
  height: fit-content;
  border-radius: 5%;
  font-size: 20px;
}
.midd{
  margin-left: 15%;
  margin-right: 10%;
  width: 75%;
  margin-bottom: 30px;
  border-width: 0px;
  font-family: Lato;
}
.dub{
  margin: 1% 8% 1% 2%;
  width: 50%;
}
.contac{
  display: flex;
}
.middo{
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 24px;
  border-width: 0px;
  font-family: Lato;
}
.cuchuflo{
  background-color: #e0e0e0;
  min-height: 500px;
  height: fit-content;
  padding-bottom: 50px;
  margin-left: 7%;
  margin-right: 7%;
}
.imgdrch{
  float: right;
  height: 450px;
  width: auto;
  margin: 2% 2% 2% 2%;
}
.imgizq{
  float: left;
  height: 450px;
  width: auto;
  margin: 2% 2% 2% 2%;
}
.txt1{
  font-size: 20px;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 3%;
}
.txt2{
  font-size: 18px;
  margin-left: 2%;
  margin-right: 2%;
  width: fit-content;
}
.cajja{
  font-size: 20px;
  color: #e0e0e0;
  width: 11%;
  text-align: center;
  position: relative;
  left: 50%;
  top: 40px;
}
.cajja2{
  font-size: 20px;
  color: #0b0b0b;!important;
  width: 11%;
  text-align: center;
}
.grisi{
  background-color: #e0e0e0;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 3%;
  padding-bottom: 4%;
}
.grisin{
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 9%;
  margin-left: 9%;
}
.yeah{
  margin: 2% 20% 5% 20%;
  width: 60%;
}
.yeah2{
  float: left;
  margin-left: 10%;
  margin-right: 5%;
  max-width: 30%;
}
.titulos{
  font-size: 25px;
  font-weight: bold;
}
.witdh{
  width: 60%;!important;
}
.boxservice{
  background-size: cover;
  height: 270px;
  color: black;

}
.lista{
    text-align: left;
    margin-top: 8%;
}
.column2{
    float: left;
    width: 30%;
    margin:-1px;
}
.imagenes2{
    height: 330px;
    display: block;
}
.flip-box2 {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner2 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-box-front2{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Style the front side (fallback if image is missing) */
.flip-box-front2{
    background-size: cover;
    height: 330px;
    color: black;
}
.box2 {
    border-style: solid;
    border-color: #846339;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding:10px;
}
.divinoleft2{
    text-align: left;
    margin-left: 3%;
    margin-right: 1%;
    margin-bottom: 5%;
    max-width: 95%;
    height: fit-content;
  border-radius: 20px 20px;
  background-color: #e0e0e0;
  font-size: 28px;
  line-height: 3em;
}
.divinoright2{
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 5%;
    max-width: 100%;
    height: fit-content;
  border-radius: 20px 20px;
  background-color: #e0e0e0;
  font-size: 28px;
  line-height: 2em;
}
.divinoright3{
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    max-width: 100%;
    height: 100%;
    width: auto;
  background-color: #e0e0e0;
  border-radius: 20px 20px;
  font-size: 28px;
  line-height: 2.5em;
}
.divinoright4{
  text-align: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  max-width: 100%;
  height: 850px;
  border-radius: 20px 20px;
}
.divinoright5{
  text-align: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  max-width: 100%;
  height: 370px;
  width: auto;
  border-radius: 20px 20px;
}
.witor{
  width: 23%;
  margin-right: 1%;
  background-color:#e0e0e0;
}
.boxing2{
    display:block;
    box-sizing: border-box;
}
.columnoizq2{
    display:flex;
    flex-direction:column;
    width:63%;
}
.columnodrc2{
    display:flex;
    flex-direction:column;
    width:37%;
}
.columnoizq3{
  display:flex;
  flex-direction:column;
  width:49.57%;
}
.columnodrc3{
  display:flex;
  flex-direction:column;
  width:50.43%;
}
.equipi{
   width: 31%;
    background-color:#052D4B;
    color: whitesmoke;
}
#crack2{
    height:fit-content;
    width: 80%;
  margin-right: 10%;
  margin-left: 10%;
    display:flex;
}
#crack3{
  height:fit-content;
  width: 92%;
  margin-right: 4%;
  margin-left: 4%;
  display:flex;
  flex-wrap: wrap;
}
.text-block {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 2em;
    vertical-align: middle;
    text-align: center;
    position: relative;
    bottom: 40px;
}
.text-block2 {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 270px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}


@charset "utf-8";
.overlay {
  position: fixed;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 99;
}
#popupBody{
  width: 55%;
  max-height: 650px;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 0 5px #CCC;
  background: #FFF;
  position: relative;
  transition: all 5s ease-in-out;
  margin: 20% auto;
}
#cerrar{
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #F00;
}
.que{
  border-bottom-right-radius: 20px 20px;
  border-bottom-left-radius:  20px 20px;
  background-color: #e0e0e0;
  padding-bottom: 10px;
  font-size: 28px;
  height: 70px;
  line-height: 2.5em;
}
.genius{
  color: salmon;!important;
}
#jijiji{
  width: 25%;
  text-align: left!important;
}
.titulin{
  text-align: left;
  margin-left: 8%;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 35px;
}
@font-face {
  font-family: Auro;
  src: url('Auro-Regular.otf'); }

.botoncin{
  background-color: #0c5460;
  margin: 10% 15% 10% 5%;
  text-align: left;
}
.overlayer {
  position: fixed;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.overlayer:target {
  visibility: visible;
  opacity: 1;
  z-index: 99;
}
.footi{
  display:flex;
  flex-direction:column;
  width:50%;
}
.txtxt{
   font-family: Lato, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
 }
.txtxt2{
  padding: 10px 20px 20px 20px;
  font-family: Lato, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
}
.imish{
  border-top-right-radius: 20px 20px;
  border-top-left-radius: 20px 20px;
  width: 100%;
}
.lequipe{
  width: 85%;
  margin: 7.5% 7.5% 7.5% 7.5%;
}
.wachin{
  text-align: left;
  margin-left: 50%;
  margin-right: 1%;
}
@font-face {
  font-family: Auro;
  src: url("Auro-Regular.otf");
}
#logo{
  font-family: Ubuntu;!important;
  font-weight: 600;
}
.relativi{
  position: relative;
  top: 130px;
}
.imagin{
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}
.divo{
  width: 25%;
}
.photin{
  width: 15%;
  float: left;
  margin-right: 10%;
}
.wito{
  width: 26.1%;
}
.wito2{
  width: 29.3%;
}
.wito3{
  width: 44.6%;
}

.serviciis{
  background-color: #e0e0e0;
  height: 373px; width: 85%;
  margin: 7% 7.5% 0% 7.5%;
  border-radius: 20px 20px;
}
.margin90{
  margin-bottom: 90px;
}
.imgservice{
  float: right;
  height: 100%;
  width: auto;
  margin: 0px;
  z-index: 2;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}
.textinser{
  text-align: left;
  margin: 5%;
  color: black;
  font-family: Lato, Merriweather, 'Helvetica Neue', Arial, sans-serif;
  font-size: 30px;
  line-height: 2em;
  width: 40%;
  position: relative;
  top: 120px;
}
.holiwis{
  font-family: Lato, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
.bobin{
  margin-bottom: 90px;
}
.cachin{
  width: 42.6%
}
.cachin2{
  width: 57.4%;
}
#holo{
    width: 13%;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}
.yeno{
    display: none;
}
@media (max-width: 991px) {
  .divo{
    width: 50%;
  }
  .imich{
    width: 96%;
  }

}
@media (max-width: 890px) {
  .column{
    width: 50%;
    float: left;
  }
  .holiwis{
    height: fit-content;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .que{
    line-height: 1.5em;
    padding-bottom: 0px;
    height: fit-content;
  }
  .margin90{
    margin-bottom: 10px;
  }
  .columnoizq2{
    width: 100%;
  }
  .columnoizq3{
    width: 100%;
  }
  .columnodrc2{
    width: 100%;
  }
  .columnodrc3{
    width: 100%;
  }
  #crack2{
    width: 96%;
    margin: 2%;
    display:flex;
    flex-direction: column;
  }
  .wito .wito2 .wito3{
    width: 100%;
  }
.bobin{
  margin-bottom: 20px;
}
.headed{
  margin-left: 10%;
  margin-right: 10%;
}

}
@media (max-width: 500px) {
  .column{
    width: 100%;
    float: left;
  }


}
@media (max-width: 350px) {
  .cabeza{
    height: fit-content;
  }
  .divo{
    width: 100%;
  }
    .photin{
        width: 70%;
        margin-left: 20px;
        margin-top:30px;
    }
}
@media (max-width: 1130px) {
.imgservice{
  width: 100%;
  height: auto;
  border-radius: 20px 20px;

}
  .serviciis{
    height: fit-content;
  }
  .textinser{
    width: 90%;
    position: relative;
    top: 0px;
  }
  .imgizq{
    width: 96%;
    height: auto;
    margin: 2%;
  }
  .imgdrch{
    width: 96%;
    height: auto;
    margin: 2%;
  }

}
@media (max-width: 750px) {
  .columno{
    display:flex;
    flex-direction:column;
    width:100%;
  }
}



.nav {
  height: 66px;
  line-height: 66px;
  background-color: #131B2B;
  position: fixed;
  top: 0px;
  z-index: 99;
}
.menu {
  margin: 0 30px 0 0;
  font-family: Lato, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-align:right;
    text-transform: uppercase;
}
.menu a {
  clear: right;
  text-decoration: none;
  color: whitesmoke;
  margin: 0 10px;
  line-height: 66px;
    font-size: 16px;
font-family: Lato, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}



label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  color: white;
  text-align: right;
}
#toggle {
  display: none;
}
.bombo{
  width: 15%;
 margin-right: 43%;
}


@media only screen and (max-width: 900px) {
  label {
    display: block;
    width: 100%;
    cursor: pointer;
  }
  .photin{
    width: 40%;
   float: left;
      margin-left: 20px;
    margin-right: 5%;
      margin-top:15px;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
    position: absolute;
    margin-top: 70px;
  }
  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;

  }
  #toggle:checked + .menu {
    display: block;
    background-color: rgba(0,0,0,0.8);
  }
  #holo{
      display: none;
  }
  .contac{
    display: flex;
    flex-wrap: wrap;
  }
  .dub{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
}
@media only screen and (max-width: 900px) and (min-width: 700px){
  .nav {
    height: 110px;
    line-height: 110px;
  }
  .menu {
    position: absolute;
    margin-top: 110px;
  }
  header{
    margin-top: 109px;
  }
  .bombo{
    width: 15%;
    margin-right: 43%;
  }
}
@media only screen and (max-width: 699px) and (min-width: 550px){
    .nav {
        height: 90px;
        line-height: 90px;
    }
    .menu {
        position: absolute;
        margin-top: 110px;
    }
    header{
        margin-top: 89px;
    }
    .bombo{
        width: 15%;
        margin-right: 43%;
    }
}
@media only screen and (max-width: 549px){
  .nav {
    height: 70px;
    line-height: 70px;
  }
  .menu {
    position: absolute;
    margin-top: 70px;
  }
  header{
    margin-top: 69px;
  }
  #crack{
    display: flex;
    flex-direction: column;
  }
  .divinoleft{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .divinoright{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .relativi{
    position: relative;
    top: 0px;
  }
  .wachin{
    margin-left: 18%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1120px){
   #holo{
       width: 20%;
       margin-left: 20px;
       margin-top: 10px;
   }
}
@media only screen and (max-width: 900px) and (min-width: 525px){
.equipi{
width: 48%;
}
}
@media only screen and (max-width: 524px){
    .equipi{
        width: 98%;
    }
  .divinoright4{
    height: fit-content;
    text-align: center;
  }
}
@media only screen and (max-width: 950px) and (min-width: 525px){
.witor{
  width: 48%;
}
}
@media only screen and (max-width: 524px){
.witor{
  width: 99%;
}
  .divinoright5{
    height: fit-content;
    margin-bottom: 6%;
  }
  .midd{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
}



