<!-- Navbar variante Casa Flex / desarrollos -->
<div class="nav" style="background-color: #947362!important;">
  <label for="toggle">
    <div style="height: 100%">
      <img src="./img/denovo-desarrollos-blanco.png" class="photin">&#9776;
    </div>
  </label>
  <input type="checkbox" id="toggle" />

  <div class="menu">
    <a href="index.html"><img src="./img/logo.logo2.png" id="holo"></a>
    <a href="index.html" class="yeno">Inicio</a>
    <a href="nosotros.html">Nosotros</a>
    <a href="obras.html">Obras</a>
    <a href="sustentabilidad.html">Sustentabilidad</a>
    <a href="contacto.html">Contacto</a>
  </div>
</div>


