<!-- Navbar variante Casa Flex / desarrollos -->
<div class="nav" style="background-color: #947362!important;">
 <label for="toggle">
  <div style="height: 100%">
   <img class="photin" height="471" src="./img/denovo-desarrollos-blanco.webp" width="1681"/>
   ☰
  </div>
 </label>
 <input id="toggle" type="checkbox"/>
 <div class="menu">
  <a href="index">
   <img height="163" id="holo" src="./img/logo.logo2.webp" width="711"/>
  </a>
  <a class="yeno" href="index">
   Inicio
  </a>
  <a href="nosotros">
   Propósito
  </a>
  <a href="equipo">
   Equipo
  </a>
  <a href="obras">
   Obras
  </a>
  <a href="sustentabilidad">
   Sustentabilidad
  </a>
  <a href="contacto">
   Contacto
  </a>
 </div>
</div>
