<!-- Navbar principal De Novo -->
<div class="nav">
 <label for="toggle">
  <div style="height: 100%">
   <img class="photin" height="163" src="/img/logo.logo1.webp" width="711"/>
   ☰
  </div>
 </label>
 <input id="toggle" type="checkbox"/>
 <div class="menu">
  <a href="/index">
   <img height="163" id="holo" src="/img/logo.logo1.webp" width="711"/>
  </a>
  <a class="yeno" href="/index">
   Inicio
  </a>
  <a href="/nosotros">
   Propósito
  </a>
  <a href="/equipo">
   Equipo
  </a>
  <a href="/obras">
   Obras
  </a>
  <a href="/sustentabilidad">
   Sustentabilidad
  </a>
  <a href="/contacto">
   Contacto
  </a>
 </div>
</div>
