<!-- Navbar principal De Novo -->
<div class="nav">
  <label for="toggle">
    <div style="height: 100%">
      <img src="/img/logo.logo1.png" class="photin">&#9776;
    </div>
  </label>
  <input type="checkbox" id="toggle" />

  <div class="menu">
    <a href="/index.html"><img src="/img/logo.logo1.png" id="holo"></a>
    <a href="/index.html" class="yeno">Inicio</a>
    <a href="/equipo.html">Equipo</a>
    <a href="/obras.html">Obras</a>
    <a href="/nosotros.html">Propósito</a>
    <a href="/sustentabilidad.html">Sustentabilidad</a>
    <a href="/contacto.html">Contacto</a>
  </div>
</div>


